body {
    background: #181616;
}

.container {
    padding: 18px;
    max-width: 60%;
}

.row {
    display: flex;
    flex-wrap: center;
}

#conteudo_principal {
    border-radius: 12px;
    background-image: url(/img/img_cadastro/fundo_cadastro3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #000000;
    font-size: 2rem;
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;

}

label {
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 17px;
    margin-bottom: 2px;
    text-align: left;
    display: block;
    margin-top: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}

.botao_redefinir {
    border-radius: 8px;
    color: #ff0000;
    background-color: #ffffff;
    width: max-content;
    font-weight: bold;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
}