body {
    background: #181616;
}

.container {
    border-radius: 8px;
    margin-top: 10px;
    background-image: url(/img/img_cadastro/fundo_cadastro3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 500px;
    padding: 5px 15px;
}

h1 {
    color: #000000;
    font-size: 40px;
    font-family:  Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

form {
    margin: 8px;
    padding: 5px;
    border-radius: 8px;
}

/* Estiliza Labels */
label {
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 17px;
    margin-bottom: 4px;
    text-align: left;
    display: block;
    margin-top: 8px;
    font-weight: bold;
}

/* Estiliza inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 12px;
    border-style: solid;
    border-color: #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* Estiliza o tamanho das colunas */
.col {
    flex: 1;
    min-width: 250px;

}

.btn_cadastro {
    border-radius: 8px;
    color: #ff0000;
    background-color: #ffffff;
    width: max-content;
    font-weight: bold;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding: 12px 25px;
    margin: 15px;
}