body {
    background: #181616;
}

.container {
    border-radius: 8px;
    background-color: #0000;
    opacity: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #fff;
    font-size: 40px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.col {
    flex: 1;
    min-width: 250px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

form {
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
}

.full_width {
    flex: 0 0 100%;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 25px;
}


/* Estiliza Labels */
label {
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    display: block;
    margin-top: 8px;
    margin-bottom: 4px;
}


/* Estiliza inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px;
    border-style: solid;
    border-color: #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estiliza o tamanho das colunas */
.colu {
    text-align: center;
    margin-top: 5px;
}

.btn_cadastro {
    border-radius: 8px;
    color: #ff0000;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    margin: 5px;
}