

.corpo {
    background: #ffffff;
}
   

.navbar bg-body-tertiary {
    position: fixed;
    margin-top: 590px;
}

.container {
    margin:0px auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 150px;
    margin-bottom: 200px;
    height: 50%;
    width: 28%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra */
    border-radius: 8px; /* Bordes redondeados */
    background-color: white;

}

.card {
    text-align: center;
    width: 100%; /* Tamanho da largura do card */
    max-width: 400px;
    height: 170%;
    border:none;


}

.titulo_card {
    color: #ff0000;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
}


p{ 
  font-size: 15px;  /* estilização do paragrafo */
    color: #fff8f8;
}


.form {
    /* Centraliza os inputs do formulario e coloca um por linha */
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.login_label{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-right: 300px;

}
.textcenter{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    /* Estiliza os campos de input do login */
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;
    margin-top: 5px;
    background: #e2e8eb;
    border: none;
    outline: none;  
}
input:focus{
    transform: scale(1.05); /* Aumenta um pouco o tamanho */
    border: 1px solid #000000;
      
}


    
form textarea{
    padding-bottom:40px;
    outline: none;
    font-size: 18px;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 100%; 
    padding: 60px; 
    resize: none;
    background:  #e2e8eb;
    border: none;
}

form textarea:focus{
    padding: px;

}

.span-required{
    font-size: 12px;
    display: none;
    color: var(--color-red);  
}


.botoes {
    /* flex -> Permite tornar o container flexivel, permitindo a organização dos elementos em linha */
    display: flex; 
    justify-content: space-between; /* Espaçamento uniforme entre os elementos*/
    gap: 35px; /* Espaço entre os elementos */
}

.botoes button {
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    padding: 10px 25px;
    margin-bottom: 40px;
    
}

.form-control {
    font-weight: bold;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 10px;
}


.titulo_card , .login_label, .form-control, .alterar_senha, .link {
    font-family: Rajdhani, sans-serif;
}
