
body{
    background-image: url(../img/img_contato/fundo_contato_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family:  Geneva, Tahoma, sans-serif;
}
.container{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px 30px;
    background-image: url(../img/img_contato/fundo_contato_2.png);
    width: 500px;
    height: max-content;
    border-radius: 20px;   
}
.container h2{
    color: #ffffff;
    font-size: 40px;
    margin: 2rem;
}

.container form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

form label{
    color: #ffffff;
    text-transform: capitalize;
    font-size: 17px;
    margin-bottom: 4px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 8px;

}

form input:focus{
    border-radius: 16px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15x;
    margin-bottom: 30px;
    border-radius: 8px;
}

form textarea:focus{
    border-radius: 16px;
}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #ffffff;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color:  #ff0000;
}

.text{
    font-size:45px ;
    color:white ;
    margin-bottom: 30px;
}
.paragrafo{
    color: white;
    margin-bottom: 50px;
}
.btn{
    padding: 15px;
    background: #ffffff;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}
.btn:hover{
    border-radius: 16px;

}
