
.corpo {
    /* background-image: url(../img/img_index/fundo_noticias.png); */
    /* background-image: url(/img/img_index/fundo_noticias.png); */
    /* background: ; */
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(150DEG, #ffffff, #ffffffe5, #000000);
}
