
.corpo {
    /* background-image: url(../img/img_index/fundo_noticias.png); */
    /* background-image: url(/img/img_index/fundo_noticias.png); */
    /* background: ; */
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(150DEG, #ffffff, #ffffffe5, #000000);
}

.container  {
    margin-top: 25px;
}

.row {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0px 0;
}
  
.card {
    height: 29rem;
    width: 29rem; 
    overflow: hidden; 
    align-items: center;
    border: 1px solid #000000; 
    box-shadow: 3px 3px 10px 2px #00000033;
}

.card-img-top {
    height: 19rem;
    width: 100%;  
    object-fit: cover; 
    object-position: center; 
}

.card-body {
    padding-top: 15px;
}


.texto_card {
    font-size: 20px;
    font-weight: bold;
    font-family: Rajdhani, sans-serif;
    color: #333;
    max-height: 60px;
    height: 60px;
}

.card a {
    border-radius: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #9b071f;
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 8px;
}

/* Estilos especiais */

/* Estilo do botão para visualizar a noticia */
.btn:hover {
    /* background-color: #000000; */
    color: #ff0000;
}
