.corpo {
    background-color: rgb(228, 228, 228);
}

.link_frase {
    font-size: 15px;
    font-weight: bold;
}


.row {
    width: 940px;
    margin: 0 auto;
    padding: 50px 50px 0;
}

.col {
    /* border: 10px solid black; */
    padding: 15px;

}

.card {
    height: 100%;
}

.botao_card {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;    
}

.rodape {
    color: white;
    background-color: black;
    height: 180px; /*Tamanho do rodapé*/
    margin-top: 50px;
    padding-top: 10px;
    text-align: center;

}