.corpo {
    background-image: url(../img/img_index/fundo_noticias.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar bg-body-tertiary {
    position: fixed;
    margin-top: 590px;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 150px;
    margin-bottom: 150px;
    height: 340px;
    width: 50%;
}

.card {
    background-color:#000;
    opacity: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    /* Estiliza a borda do card de login */
    border-radius: 20px;
    border-width: px;
    border: px solid #fff;

    
    text-align: center;
    width: 100%; /* Tamanho da largura do card */
    max-width: 400px;
    height: 135%;
}

.titulo_card {
    color: #fff;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
}

.formulario {
    /* Centraliza os inputs do formulario e coloca um por linha */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}


.login_label{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 220px;
}

input {
    /* Estiliza os campos de input do login */
    width: 75%;
    height: 35px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
}
input:hover{
    border-radius: 12px;
    padding: 15px;
}

.botoes {
    /* flex -> Permite tornar o container flexivel, permitindo a organização dos elementos em linha */
    display: flex; 
    justify-content: space-between; /* Espaçamento uniforme entre os elementos*/
    gap: 35px; /* Espaço entre os elementos */
}

.botoes button {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding: 10px 25px;
}

.form-control {
    font-weight: bold;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 10px;
    border-color: #000000;
    margin-top: 15px;
}


.alterar_senha {
    margin-top: 100px;
    text-decoration: underline;
    font-weight: bold;
}

.alterar_senha a {
    text-transform: uppercase;
    font-weight: 700;
    color:  #c9bebe!important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link {
    text-decoration: none;
    font-size: 13px;
}

.titulo_card , .login_label, .form-control, .alterar_senha, .link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}