.corpo {
 background-color: #1f1e1e;
}

.navbar bg-body-tertiary {
    position: fixed;
    margin-top: 590px;
}

.container {
    display:flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 150px;
    margin-bottom: 200px;
    height: 340px;
    width: 50%;
}

.card {
    text-align: center;
    width: 100%; /* Tamanho da largura do card */
    max-width: 400px;
    height: 170%;
}

.titulo_card {
    color: #ff0000;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
}

.info{
    font-size: 15px;  /* estilização do paragrafo */
    color: #000000;

}
.diferente{
    color: #ff0000;/* Escolha a cor desejada */
}


.formulario {
    /* Centraliza os inputs do formulario e coloca um por linha */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 5%;
}


.login_label{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-right: 300px;
}

input {
    width: 90%;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;
    margin-top: 5px;
    background: #e2e8eb;
    border: none;
    outline: none;  
}

input:focus{
    transform: scale(1.05); /* Aumenta um pouco o tamanho */
    border: 1px solid #000000;
      
}


.botoes {
    /* flex -> Permite tornar o container flexivel, permitindo a organização dos elementos em linha */
    display: flex; 
    justify-content: space-between; /* Espaçamento uniforme entre os elementos*/
    gap: 35px; /* Espaço entre os elementos */
}

.botoes button {
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    padding: 10px 25px;
    margin-bottom: 10px;
}


.form-control {
    font-weight: bold;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 10px;
}


.alterar_senha {
    margin-top: 30px;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.link {
    text-decoration: none;
    font-size: 13px;
}

.titulo_card , .login_label, .form-control, .alterar_senha, .link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}