/* Estilos do rodapé */
.card-footer {
    background: #ffffff !important;
    margin-top: 20px;
    width: 100%;
}

.row-footer {
    padding: 50px 150px;
}
.conteudo-footer {
    color: #000000;
    background: none;
    text-align: left;
    border: none;
}

.titulo_conteudo_footer {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.conteudo-footer .card-footer-conteudo {
    border: none;
    width: 100%;
    height: max-content;
    margin-top: 30px;
}

.card-header, .list-group .list-group-item {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    border: none;
    width: max-content;
}

.img-footer {
    margin-top: 50px;
    padding: 25px 50px;
}
.img-thumbnail {
    border: none;
}