/* Destinada aos mesmos estilos usados em diferentes arquivos html */

.navbar {
    height: 100%;
}

.navbar {
    color: red;
    font-size: 27px;
    font-weight: bold;
    font-style: normal;
}

.container-fluid {
    background-color: black;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;

}

.collapse {
    padding-left: 30px;
}

.nav-item {
    font-size: 18px;
}

.navbar-toggler-icon {
    /* Altera a cor das linhas da imagem do navbar para vermelha */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='red' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

