body {
    font-family: Arial, sans-serif; /* Define uma fonte agradável para o corpo */
    background-image: url(flamengo_maracana_torcida.webp); /* Um fundo leve */
    background-size:cover;
    background-repeat:no-repeat;
    display:block;

}

h2 {
    text-align: center; /* Centraliza o título 'contatos' */
    color: #f6f8fa; /* Cor do texto para o título */
    margin-top: 50px; /* Margem no topo */
}
    section {
        display: block;
        margin: 50px auto; /* Centraliza a seção horizontalmente e adiciona margem superior */
        width: 450px; /* Largura fixa */
        padding: 10px 45px;
        border: 1px solid #343a40; /* Borda ao redor da seção */
        border-radius: 20px; /* Cantos arredondados */
        background-color: black; /* Fundo preto para a seção */
    }
    

form {
    display: flex;
    flex-direction: column; /* Organiza os elementos do form na coluna */
}

label {
    margin-top: 10px; /* Margem no topo dos labels */
    font-weight: bold; /* Destaca os labels */
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px; /* Espaçamento interno */
    margin-top: 5px; /* Margem superior */
    border: 1px solid #ced4da; /* Borda padrão */
    border-radius: 4px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
}

button {
    margin-top: 15px; /* Margem no topo do botão */
    padding: 10px; /* Espaçamento interno do botão */
    background-color: #007bff; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 4px; /* Bordas arredondadas para o botão */
    cursor: pointer; /* Muda o cursor para mão ao passar o mouse */
}

button:hover {
    background-color: #0056b3; /* Cor mais escura ao passar o mouse */
}