/* Destinada aos mesmos estilos usados em diferentes arquivos html */
.navbar, .container-fluid{
    background: #d2232a !important;
    padding-top: 15px; 
    padding-bottom: 15px; 
    padding-left: 6px;
}

.container-fluid { 
    text-transform: uppercase;

}
.navbar-text {
    font-size: 28px;
    font-weight: 900;
    font-family: 'Rajdhani', sans-serif;
    margin-left: 60px;
    text-transform: uppercase;
    color: #000;
}

.collapse {
    padding-left: 30px;
}


.nav-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    font-family: Rajdhani, sans-serif;

}

.navbar-toggler-icon {
    /* Altera a cor das linhas da imagem do navbar para vermelha */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Estilos especiais */

.nav-link:hover {
    color: rgb(0, 0, 0);
}
