.secao_titulos {
    margin-top: 20px;
    border-top: 2px black solid;
}

.titulo_progresso_div {
    padding-left: 5%;
    margin: 15px 0px;
}

.titulo_progresso {
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}

.progress {
    width: 50%;
}

.progress-bar {
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(to right, #000000, #ad1f1f);

}