<!-- Inicio da Barra de Navegação -->
<link rel="stylesheet" href="/css/css_base/navbar.css">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div style="gap: 10px;" class="container-fluid">
      
      <a style="text-decoration: none;" href="/templates/index.html">  <h4 class="navbar-text"> <img src="/img/img_navbar/favicon.ico" alt="fla"> Clube de Rega<span class="red">tas</span> do Fla<span class="red">mengo</span></h4> </a>
    
      <button  class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent" st style="gap: 10px;">

    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" st style="gap: 10px;">

      <div class="dropdown">
        <button style="background-color: #000000;  font-family: Rajdhani,sans-serif; font-size:16px; font-weight: bold;"
          class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          FUTEBOL <!--esse é o nome do dropdown-->
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" style="background-color: #000000;">

          <a style="text-decoration: none;" href="/templates/index.html">
            <li><button style="font-family: rajdhanni,sans-serif; font-size: 16px;" class="dropdown-item"
                type="button">PAGINA-INICIAL</button> </li>
          </a><br>

          <a style="text-decoration: none;" href="https://www.flamengo.com.br/elencos/elenco-profissional">
            <li><button style="font-family: rajdhanni,sans-serif; font-size: 16px;" class="dropdown-item"
                type="button">ELENCO-PROFISSIONAL</button></li>
          </a><br>

          <a style="text-decoration: none;" href="https://www.flamengo.com.br/elencos/elenco-profissional">
            <li><button style="font-family: rajdhanni,sans-serif; font-size: 16px;" class="dropdown-item"
                type="button">TODAS AS NOTICIAS</button></li>
          </a><br>

        </ul>
      </div>
      <br>
      <div class="dropdown">
        <button
          style="background-color: #ff0000;  font-family: Rajdhani,sans-serif; font-size:16px; font-weight: bold; border: none;"
          class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          SÓCIO-TORCEDOR <!--esse é o nome do dropdown-->
        </button>

        <ul class="dropdown-menu dropdown-menu-dark" style="background-color: #000000;">

          <a style="text-decoration: none;" href="https://www.mengo.com.br/?utm_source=portal&utm_medium=menu&
                      utm_campaign=associese">
            <li><button style="font-family: rajdhanni,sans-serif; font-size: 16px;" class="dropdown-item"
                type="button">ASSOCIE-SE</button></li>
          </a><br>

          <a style="text-decoration: none;" href="https://flamengo.superingresso.com.br/#!/home">
            <li><button style="font-family: rajdhanni,sans-serif; font-size: 16px;" class="dropdown-item"
                type="button">INGRESSO</button> </li>
          </a><br>

          <a style="text-decoration: none;" href="https://www.mengo.com.br/?utm_source=portal&utm_medium=menu&
               utm_campaign=planos#!/planos">
            <li><button style="font-family: rajdhanni,sans-serif; font-size: 16px;" class="dropdown-item"
                type="button">PLANOS</button></li>
          </a><br>

        </ul>
      </div>
      <br>
      <div class="dropdown">
        <button style="background-color: #000000; font-family: Rajdhani,sans-serif; font-size:16px; font-weight: bold;"
          class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          CLUBE <!--esse é o nome do dropdown-->
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" style="background-color: #000000; ">

          <a style="text-decoration: none;" href="/templates/login.html">
            <li><button style="font-family: rajdhanni,sans-serif;font-size: 16px;" class="dropdown-item"
                type="button">LOGIN</button> </li>
          </a> <br>

          <a style="text-decoration: none;" href="https://loja.flamengo.com.br/">
            <li><button style="font-family: rajdhanni,sans-serif; font-size: 16px;" class="dropdown-item"
                type="button">LOJA</button></li>
          </a><br>

          <a style="text-decoration: none;" href="/templates/contato.html">
            <li><button style="font-family: rajdhanni,sans-serif; font-size: 16px;" class="dropdown-item"
                type="button">CONTATO</button></li>
          </a><br>

          <a style="text-decoration: none;" href="/templates/quem_somos.html">
            <li><button style="font-family: rajdhanni,sans-serif; font-size: 16px;" class="dropdown-item"
                type="button">QUEM SOMOS</button></li>
          </a><br>

          <a style="text-decoration: none;" href="https://www.flamengo.com.br/flatv">
            <li><button style="font-family: rajdhanni,sans-serif; font-size: 16px;" class="dropdown-item"
                type="button">FLA TV</button></li>
          </a>
        </ul>
      </div>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <!-- Inicialmente, o nome do usuário ficará oculto -->
        <span id="userName" style="display: none; font-weight: bold; color: #ffffff;">Usuário</span>
      </li>
    </ul>
    <!-- Inicialmente, o botão de logout ficará oculto -->
    <button id="logoutButton" style="display: none; background-color: #ff0000; font-weight: bold;" type="button"
      class="btn btn-danger">
      Sair
    </button>
    
    <a href="/templates/cadastro.html"> <button style="background-color: #ff0000; font-weight: bold;" type="button"
        class="btn btn-danger">CADRASTE-SE</button> </a>
  </div>
  </div>
</nav>
<!-- Fim da Barra de Navegação