<div class="card-footer text-bg-dark">
    <div>
      <h4 id="titulo_footer" class="card-title">Clube de Regatas do Flamengo</h4>
      <ul class="conteudo_footer">
      <!-- Nome dos Devs. -->
        <li class="lista"><span class="nome_dev">Carlos Ryan</span></li>
        <li class="lista"><span class="nome_dev">João Victor Ventura</span></li>
        <li class="lista"><span class="nome_dev">Pyetro Simonim</span></li>

      <!-- GitHub -->
        <li class="lista"><a target="_blank" class="links_footer" href="https://github.com/javacss07"><img src="/img/img_quem_somos/github.png" alt="linkedin"></a></li>
        <li class="lista"><a target="_blank" class="links_footer" href="https://github.com/Venturaa10"><img src="/img/img_quem_somos/github.png" alt="linkedin"></a></li>
        <li class="lista"><a target="_blank" class="links_footer" href="/templates/erro.html"><img src="/img/img_quem_somos/github.png" alt="linkedin"></a></li>

      <!-- Linkedln -->
        <li class="lista"><a target="_blank" class="links_footer" href="/templates/erro.html"><img src="/img/img_quem_somos/linkedin.png" alt="linkedin"></a></li>
        <li class="lista"><a target="_blank" class="links_footer" href="https://www.linkedin.com/in/jo%C3%A3o-victor-ventura-oliveira"><img src="/img/img_quem_somos/linkedin.png" alt="linkedin"></a></li>
        <li class="lista"><a target="_blank" class="links_footer" href="/templates/erro.html"><img src="/img/img_quem_somos/linkedin.png" alt="linkedin"></a></li>

 
      </ul>
    </div>
  </div>