<head>
    <link rel="stylesheet" href="/css/rodape.css">
</head>
<div class="sede">
  <div>
    <p class="grand">Sede Da Gavea</p>
    <br>
    <p> Gávea
      Av. Borges de Medeiros, 997 <br>
      Lagoa - Rio de Janeiro/RJ - Brasil <br>
      CEP: 22430-041 - Tel:(21) 2159-0100
    </p> 
  </div>
  <div class="dist">
    <p class="grand"> Unisaum</p>
    <br>
    <p>Av. Paris, 84 - Bonsucesso, <br> Rio de Janeiro - RJ, 21041-020, Brasil</p>
  </div>

</div>

<div class="card-footer text-bg-dark">
  <div class="row">
    <div class="col">
      <div class="conteudo-footer" style="width: 18rem;">
        <div class="card-header">
          futebol
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Flamengo</li>
          <li class="list-group-item">Formação</li>
          <li class="list-group-item">Equipe</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="conteudo-footer" style="width: 18rem;">
        <div class="card-header">
          o clube
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Contato</li>
          <li class="list-group-item">Camisas</li>
          <li class="list-group-item">Maracanã</li>
          <li class="list-group-item">Historia</li>
          <li class="list-group-item">camisas</li>
          <li class="list-group-item">Ingressos</li>
          <li class="list-group-item">Quem somos</li>
          <li class="list-group-item">Presidente</li>
          <li class="list-group-item">Calendario</li>
          <li class="list-group-item">E-mail</li>
          <li class="list-group-item">Socío-Torcedor</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="conteudo-footer" style="width: 18rem;">
        <div class="card-header">
          Basquete
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Time Basquete</li>
        </ul>
      </div>
    </div>
    </div>
    <div class="imagem">
      <img src="/img/img_rodape/adidas.png" alt="">  <img src="/img/img_rodape/mercadoLivre.png" alt=""> <img src="/img/img_rodape/brb.png" alt=""><br>
      <img src="/img/img_rodape/post_unisuam.png" alt="">
     
      
    </div>
     
  </div>
  </div>