.display{
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.noticiario-container {
  position: relative;
  max-width: 800px;
}

.noticiario-container img {
  width: 100%; /* Faz a imagem preencher toda a largura do contêiner */
  height: auto; /* Mantém a proporção da imagem */
  transition: transform 0.5s ease-in-out; /* Transição suave para o efeito de zoom */
}
.noticiario-container img:hover {
  transform: scale(1.03); /* Amplia a imagem em 20% */
}

.noticiario-imagem {
  width: 100%;
  height: auto;
  display: flex;
}

.noticiario-texto {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
  color: #fff;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.noticiario-texto h2 {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.noticiario-texto p {
  margin: 10px 0 0;
  font-size: 1em;
}

