
.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2px;
}

.noticiario-container {
  flex: 1 1 calc(50% - 20px); 
  box-sizing: border-box;
  position: relative; 
}

.noticiario-imagem {
  width: 100%; 
  height: auto; 
  transition: transform 0.3s ease;
}

.noticiario-container:hover .noticiario-imagem {
  transform: scale(1.02); 
}

.noticiario-texto {
  position: absolute;
  bottom: 10px;
  left: 1px; 
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff; 
}

.noticiario-texto h2 {
  font-size: 1.7rem;
  margin: 0; 
  font-family: Rajdhanni,sans-serif;
}

.noticiario-texto p {
  font-size: 1rem;
  margin: 0;
  font-family: Rajdhanni,sans-serif;
}


@media (max-width: 768px) {
  .noticiario-container {
    flex: 1 1 100%;
  }

  .noticiario-texto h2 {
    font-size: 1.2rem; 
  }

  .noticiario-texto p {
    font-size: 0.9rem; 
  }
}

@media (max-width: 480px) {
  .noticiario-texto h2 {
    font-size: 1rem; 
  }

  .noticiario-texto p {
    font-size: 0.8rem; 
  }
}
