.secao_titulos {
    margin-top: 20px;
    border-top: 2px black solid;
}

.imgs_titulo {
    margin: 30px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;     
    flex-wrap: wrap;   
}

.titulo_progresso_div {
    padding-left: 5%;
    margin: 15px 0px;
}

.titulo_progresso {
    font-weight: bold;
    font-family: Rajdhanni,sans-serif;
    margin-bottom: 5px;
}

.progress {
    width: 50%;
}

.progress-bar {
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(to right,#fa2a2a , #860d0d);

}

@media (min-width: 720px) {
    .progress {
    width: 100%;
}
}
@media (min-width:320px) {
    .progress {
        width: 100%;
    }
}