.secao_vendas {
    margin-top: 20px;
    border-top: 2px black solid;
}

.container  {
    margin-top: 3px;
    font-family: rajdhanni,sans-serif;
}

.card {
    width: 100%;
    height: 100%;
    overflow: hidden; 
    border: none;
    box-shadow: 4px 4px 10px 4px #00000033;
    margin: 20px;
}

.row {
    align-items: center;
}

.img_div {
    width: 100%; 
    height: auto;
    display: block;
}

.card-img-top {
    height: 18rem;
    width: 100%;  
    object-fit: cover; 
}

.card-body {
    text-transform: capitalize;
    text-align: left;
    width: 100%;
    height: 50%;
    padding-top: 10px;
    padding-left: 10px;
}

.texto_card {
    font-size: 20px;
    font-weight: 700;
    font-family: rajdhanni,sans-serif;
    color: #333;
}

.lista_info_camisa{
    margin-top: 14px;   
}

.valor_camisa {
    font-size: 20px;
    font-weight: bold;
}

.botao_div {
    margin-bottom: 10px;
}

.botao_confira {
    font-size: 15px;
    font-weight: 700;
    padding: 8px 25px;
    border-radius: 20px;
}

/* Estilos especiais */

/* Estilo do botão para visualizar a noticia */
.botao_div:hover {
    transform: scale(1.0);
    transition: transform 500ms; /* Define a duração da transição */
}

.botao_confira:hover {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: text-transform 700ms, font-weight 700ms, font-size 700ms; /* Define a duração da transição */
}


@media (max-width: 720px) {
    .row {
       justify-content: space-between; 
    }
}