<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Noticiário</title>
  <link rel="stylesheet" href="/css/noticias.css">
</head>
<body>
  <div class="display">
    <div class="noticiario-container">
      <img src="/img/noticias/flamengo-copa-brasil-scaled-aspect-ratio-512-320.webp" alt="Imagem do Noticiário" class="noticiario-imagem">
      <div class="noticiario-texto">
        <h2>FLAMENGO GANHA COPA DO BRASIL</h2>
        <p>Flamengo campeão da Copa do Brasil 2024! A equipe rubro-negra aproveitou a vantagem obtida no primeiro duelo, marcou um golaço neste domingo (10) e bateu o Atlético-MG por 1 a 0 dentro da Arena MRV, conquistando o título nacional..</p>
      </div>
      
    </div>
    <div class="noticiario-container">
      <img src="/img/noticias/platacap.jpg" alt="Imagem do Noticiário" class="noticiario-imagem">
      <div class="noticiario-texto">
        <h2>GONZALO PLATA FAZ GOL DO TITULO</h2>
        <p>fez o gol que assegurou o título da Copa do Brasil para o Flamengo contra o Atlético-MG, na Arena MRV.Ainda por cima, acertou 92% de seus passes (35 em 38), ganhou quatro dos seis duelos contra os bolivianos, teve dois dribles com êxito e dois desarmes.</p>
      </div>
  </div>

    
  </div>
</body>
</html>