<head>
    <link rel="stylesheet" href="/css/vendas.css">
</head>

<h1 class="secao_titulo">Camisas do Flamengo</h1>
<!-- Inicio do Grid -->

        <div class="container text-center">
            <div class="row row-cols-4">
                <div class="col">
                    <div class="card">
                        <a class="link_img" href="erro.html">
                            <img src="/img/img_index/carregando.png" class="card-img-top" alt="Descrição da imagem 1">
                        </a>
                        <div class="card-body">
                            <p class="texto_card">Camisa Flamengo 1 - 2022/23 - Masculino</p>
                            <ul class="lista_info_camisa">
                                <li class="valor_camisa">R$ 100,00</li>
                                <li><span>Desconto</span></li>
                            </ul>
                        </div>
                        <div class="botao_div">
                        <button class="botao_confira">Confira!</button>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <a class="link_img" href="erro.html">
                            <img src="/img/img_index/carregando.png" class="card-img-top" alt="Descrição da imagem 1">
                        </a>
                        <div class="card-body">
                            <p class="texto_card">Camisa Flamengo 1 - 2022/23 - Masculino</p>
                            <ul class="lista_info_camisa">
                                <li class="valor_camisa">R$ 100,00</li>
                                <li><span>Desconto</span></li>
                            </ul>
                        </div>
                        <div class="botao_div">
                        <button class="botao_confira">Confira!</button>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <a class="link_img" href="erro.html">
                            <img src="/img/img_index/carregando.png" class="card-img-top" alt="Descrição da imagem 1">
                        </a>
                        <div class="card-body">
                            <p class="texto_card">Camisa Flamengo 1 - 2022/23 - Masculino</p>
                            <ul class="lista_info_camisa">
                                <li class="valor_camisa">R$ 100,00</li>
                                <li><span>Desconto</span></li>
                            </ul>
                        </div>
                        <div class="botao_div">
                        <button class="botao_confira">Confira!</button>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <a class="link_img" href="erro.html">
                            <img src="/img/img_index/carregando.png" class="card-img-top" alt="Descrição da imagem 1">
                        </a>
                        <div class="card-body">
                            <p class="texto_card">Camisa Flamengo 1 - 2022/23 - Masculino</p>
                            <ul class="lista_info_camisa">
                                <li class="valor_camisa">R$ 100,00</li>
                                <li><span>Desconto</span></li>
                            </ul>
                        </div>
                        <div class="botao_div">
                        <button class="botao_confira">Confira!</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

<!-- Fim do Grid -->