<head>
    <link rel="stylesheet" href="/css//css_sections/vendas.css">
</head>

<h1 class="secao_titulo">Vista Flamengo</h1>
<!-- Inicio do Grid -->
<div class="container text-center">
            <div class="row">
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="card">
                        <div class="img_div">
                            <a class="link_img" href="erro.html"> <img src="/img/img_vendas/tenis_adidas_branco_preto.png" class="card-img-top" alt="Descrição da imagem 01"></a> 
                        </div>
                        <div class="card-body">
                            <p class="texto_card">	
                                Tênis Adidas Response Runner</p>
                            <ul class="lista_info_camisa">
                                <li class="valor_camisa">R$ 257,99</li>
                                <li><span>Desconto</span></li>
                            </ul>
                        </div>
                        <div class="botao_div">
                            <button class="botao_confira"><a class="link_confira" href="/templates/erro.html">Confira!</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="card">
                        <div class="img_div">
                            <a class="link_img" href="erro.html">
                                <img src="/img/img_vendas/camisa_flamengo_consc_negra_feminina.png" class="card-img-top"
                                    alt="Descrição da imagem 1">
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="texto_card">Camisa Flamengo Conciencia Negra 2024</p>
                            <ul class="lista_info_camisa">
                                <li class="valor_camisa">R$ 299,00</li>
                                <li><span>Desconto</span></li>
                            </ul>
                        </div>
                        <div class="botao_div">
                            <button class="botao_confira"><a class="link_confira" href="/templates/erro.html">Confira!</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="card">
                        <a class="link_img" href="erro.html">
                            <img src="/img/img_vendas/camisa_fla_lfstlr_adidas.png" class="card-img-top" alt="Descrição da imagem 1">
                        </a>
                        <div class="card-body">
                            <p class="texto_card">	
                                Adidas Camisa Cr Flamengo LFSTLR Futebol</p>
                            <ul class="lista_info_camisa">
                                <li class="valor_camisa">R$ 149,99</li>
                                <li><span>Desconto</span></li>
                            </ul>
                        </div>
                        <div class="botao_div">
                            <button class="botao_confira"><a class="link_confira" href="/templates/erro.html">Confira!</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="card">
                        <a class="link_img" href="erro.html">
                            <img src="/img/img_vendas/camisa_fla_manga_longa.png" class="card-img-top" alt="Descrição da imagem 1">
                        </a>
                        <div class="card-body">
                            <p class="texto_card">	
                                Camisa Flamengo Manga Longa 2024 2025</p>
                            <ul class="lista_info_camisa">
                                <li class="valor_camisa">R$ 256,87</li>
                                <li><span>Desconto</span></li>
                            </ul>
                        </div>
                        <div class="botao_div">
                            <button class="botao_confira"><a class="link_confira" href="/templates/erro.html">Confira!</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="card">
                        <a class="link_img" href="erro.html">
                            <img src="/img/img_vendas/camisa preta post 4.webp" class="card-img-top" alt="Descrição da imagem 1">
                        </a>
                        <div class="card-body">
                            <p class="texto_card">	
                                Camisa Flamengo Treino</p>
                            <ul class="lista_info_camisa">
                                <li class="valor_camisa">R$ 199,99</li>
                                <li><span>Desconto</span></li>
                            </ul>
                        </div>
                        <div class="botao_div">
                            <button class="botao_confira"><a class="link_confira" href="/templates/erro.html">Confira!</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="card">
                        <a class="link_img" href="erro.html">
                            <img src="/img/img_vendas/camisa preta post 5.webp" class="card-img-top" alt="Descrição da imagem 1">
                        </a>
                        <div class="card-body">
                            <p class="texto_card">	
                                Camisa Flamengo Mask Preta</p>
                            <ul class="lista_info_camisa">
                                <li class="valor_camisa">R$ 273,87</li>
                                <li><span>Desconto</span></li>
                            </ul>
                        </div>
                        <div class="botao_div">
                            <button class="botao_confira"><a class="link_confira" href="/templates/erro.html">Confira!</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="card">
                        <a class="link_img" href="erro.html">
                            <img src="/img/img_vendas/camisa vermelha post 6.webp" class="card-img-top" alt="Descrição da imagem 1">
                        </a>
                        <div class="card-body">
                            <p class="texto_card">	
                                Camisa Flamengo Feminina</p>
                            <ul class="lista_info_camisa">
                                <li class="valor_camisa">R$ 139,87</li>
                                <li><span>Desconto</span></li>
                            </ul>
                        </div>
                        <div class="botao_div">
                            <button class="botao_confira"><a class="link_confira" href="/templates/erro.html">Confira!</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="card">
                        <a class="link_img" href="erro.html">
                            <img src="/img/img_vendas/camisa azul post 7.webp" class="card-img-top" alt="Descrição da imagem 1">
                        </a>
                        <div class="card-body">
                            <p class="texto_card">	
                                Camisa Flamengo Goleiro Azul 2022 2023</p>
                            <ul class="lista_info_camisa">
                                <li class="valor_camisa">R$ 198,87</li>
                                <li><span>Desconto</span></li>
                            </ul>
                        </div>
                        <div class="botao_div">
                            <button class="botao_confira"><a class="link_confira" href="/templates/erro.html">Confira!</a></button>
                        </div>
                    </div>
                </div>
            </div>
</div>
<!-- Fim do Grid -->