<div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/img/img_flash/estadio_noticia.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px; font-weight: bold;font-family: rajdhanni,sans-serif; "><b>Flamengo apresenta pela primeira vez o projeto da construção do novo estádio</b> </h5>
          <p class="card-text" style="font-family: rajdhanni,sans-serif;line-height: 1.3;">Projeção é que tenha 60 metros de altura e custo de quase R$ 2 bilhões.</p>
          <p style="font-family: rajdhanni, sans-serif; line-height: 1.3;" > <small class="text-body-secondary">O Flamengo apresentou de maneira inédita o projeto de construção do novo estádio no terreno do Gasômetro, nesta sexta-feira, na Gávea, em reunião com os sócios..</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/img/img_flash/gabi_noticia.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"  style="font-size: 20px; font-weight: bold;font-family: rajdhanni,sans-serif; ">Léo Moura quebra silêncio sobre saída de Gabigol do Flamengo</h5>
          <p class="card-text" style="font-family: rajdhanni, sans-serif; line-height: 1.3;">Após a final da Copa do Brasil e conquista do pentacampeonato, Gabigol anunciou, ainda em campo, que não fica no Flamengo ao término contrato. O jogador tem vínculo com o Mais Querido até 31 de dezembro de 2024. </p>
        </div>
      </div>
    </div>
  </div>