<head>
    <link rel="stylesheet" href="/css/titulos.css">
</head>

<h1 class="secao_titulo">Titulos</h1>
<div id="container-titulos" class="container-fluid">
  <div class="titulo_progresso_div">
    <h1 class="titulo_progresso">Estaduais</h1>
  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 80%">38</div>
  </div>
  </div>
  
  <div class="titulo_progresso_div">
    <h1 class="titulo_progresso">Brasileirão</h1>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 30%">8</div>
  </div>
</div>

<div class="titulo_progresso_div">
  <h1 class="titulo_progresso">Copa do Brasil</h1>
  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 25%">5</div>
  </div>
  <div class="titulo_progresso_div">
  </div>

  <h1 class="titulo_progresso">Super Copa Do Brasil</h1>
  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 12%">2</div>
  </div>
</div>

  <div class="titulo_progresso_div">
  <h1 class="titulo_progresso">Libertadores</h1>
  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 14%">3</div>
  </div>
</div>
  
  <div class="titulo_progresso_div">
  <h1 class="titulo_progresso">Mundial</h1>
  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 10%">1</div>
  </div>
</div>
</div>