<head>
  <link rel="stylesheet" href="/css//css_sections/noticias.css">
</head>

<div class="display">
    <div class="noticiario-container">
      <a href="https://www.cnnbrasil.com.br/esportes/futebol/copa-do-brasil/e-penta-flamengo-vence-o-atletico-mg-e-conquista-o-titulo-da-copa-do-brasil/">  <img src="/img/noticias/flamengo-copa-brasil-scaled-aspect-ratio-512-320.webp" alt="Imagem do Noticiário" class="noticiario-imagem"> </a>
     
      <div class="noticiario-texto">
        <h2>FLAMENGO CAMPEÃO DA COPA DO BRASIL 2024!</h2>
        <br>
        <p>A equipe rubro-negra aproveitou a vantagem obtida no primeiro duelo, marcou um golaço neste domingo (10) e bateu o Atlético-MG por 1 a 0 dentro da Arena MRV, conquistando o título nacional.</p>
      </div>
    </div>

    <div class="noticiario-container">
      <a href="https://www.msn.com/pt-br/esportes/other/autor-do-gol-do-t%C3%ADtulo-do-flamengo-plata-comemora-um-dia-inesquec%C3%ADvel/ar-AA1tRctd"> <img src="/img/noticias/platacap.jpg" alt="Imagem do Noticiário" class="noticiario-imagem"> </a>
      <div class="noticiario-texto">
        <h2>GONZALO PLATA FAZ GOL DO TITULO!</h2>
        <br>
        <p> Gonzalo Plata escreveu seu nome na história do Flamengo ao marcar o gol do título da Copa do Brasil, diante do Atlético-MG, na Arena MRV. Além do título nacional, o rubro-negro garantiu uma vaga na fase grupos da Libertadores 2025. </p>
      </div>
  </div>
  </div>
