<head>
    <link rel="stylesheet" href="/css/noticias.css">
</head>
<h1 class="secao_titulo">Noticias</h1>

<div class="container text-center" class="cont">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" class="linha">
      <div class="col" class="cool">
        <div class="card" class="cards">
            <img src="/flamengo.pedro.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <img src="/img/img_index/carregando.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <img src="/img/img_index/carregando.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <img src="/img/img_index/carregando.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
    </div>
  </div>