<head>
    <link rel="stylesheet" href="/css/titulos.css">
</head>

<h1 class="secao_titulo">Titulos</h1>
<div id="container-titulos" class="container-fluid">
  <div class="titulo_progresso_div">
    <h1 class="titulo_progresso">Brasileirão</h1>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 50%">10</div>
  </div>
</div>

<div class="titulo_progresso_div">
  <h1 class="titulo_progresso">Copa do Brasil</h1>
  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 50%">8</div>
  </div>
  <div class="titulo_progresso_div">
  </div>

  <h1 class="titulo_progresso">Estadual</h1>
  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 50%">10</div>
  </div>
</div>

  <div class="titulo_progresso_div">
  <h1 class="titulo_progresso">Libertadores</h1>
  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 75%">10</div>
  </div>
</div>
  
  <div class="titulo_progresso_div">
  <h1 class="titulo_progresso">Mundial</h1>
  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 100%">10</div>
  </div>
</div>
</div>