
.container {
    background-color: white;
    background-position: center;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #ff0000;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
    font-family: rajdhanni,sans-serif;
}

.col {
    flex: 1;
    min-width: 250px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.full_width {
    flex: 0 0 100%;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 25px;
}


/* Estiliza Labels */
label {
    font-family: rajdhanni,sans-serif;
    color: #000000;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    display: block;
    margin-top: 8px;
    margin-bottom: 4px;
}


/* Estiliza inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    background: #e2e8eb;
    margin-bottom: 5px;
    padding: 8px;
    border-style: solid;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;  
}
span{
    display: none;
    left: 0;
}

/* Estiliza o tamanho das colunas */
.colu {
    text-align: center;
    margin-top: 5px;
}

.btn_cadastro {
    border-radius: 8px;
    color: #ffffff;
    border: none;
    background-color: #e73434;
    font-weight: bold;
    font-size: 16px;
    font-family: rajdhanni,sans-serif;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;

}