
.corpo {
    background-size: cover;
    background-repeat: no-repeat;
    background: #ffffff;
}
.barra{
    width: 100%;
    padding: 1%;
    background-color: #ff0000;
}

.secao_titulo {
    margin-top: 20px;
    margin-left: 20px;
    font-family: rajdhanni,sans-serif;
    font-size: 30px;
    font-weight: bold;
    border: none;
}